<div class="p-grid dashboard">
    <p-toast></p-toast>
    <div class="p-col-12">
        <div class="card">
            <h4>Build your grade</h4>
            <p-pickList [source]="sourceList" [target]="targetList" 
            [showSourceControls]="false" 
            [showTargetControls]="false"
            (onMoveToTarget)="movedToTarget($event)"
            (onMoveToSource)="movedToSource($event)">
                <ng-template let-discipline pTemplate="item">
                    <div>
                        <div style="font-size:14px;float:right;margin:15px 5px 0 0">{{discipline.code}} - {{discipline.name}}</div>
                    </div>
                </ng-template>
            </p-pickList>
        </div>
        <div class="card">
            <app-disciplines-grade [disciplinesGradeList]="this.disciplinesGradeList"></app-disciplines-grade>
        </div>
    </div>
</div>